@mixin flexContainer($alignment, $justified, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justified;
    align-items: $alignment;
}

@mixin cardText($lineClamp, $textColor, $fontFamily, $fontSize) {
    display: -webkit-box;
    -webkit-line-clamp: $lineClamp;
    color: $textColor;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: $fontFamily;
    font-size: $fontSize;
}

$buttonBackgroundColor: #0D6EFDFF;
$buttonBackgroundColorHover: #1A85FFFF;
$loginFirstColor: rgba(141, 46, 226, 1);
$loginSecondColor: rgba(91, 80, 208, 1);
$loginThirdColor: rgb(252, 194, 79);
$cardTitleColor: #000000;
$cardSubtitleColor: #828282;
$cardBackgroundColor: #eeeeee;