@import "../../../variables_mixin";

.header {
    @include flexContainer(center, flex-end);
    position: fixed;
    top: 0;
    gap: 10px;
    padding: 10px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid grey;
    background-color: black;
    color: white;
    z-index: 1000;

    .count-badge {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
