@import "../../../variables_mixin.scss";

.products-container {
    position: relative;
    top: 100px;
}

.products-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
}

.overlay-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: brightness(50%);
}
